<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' type='text/css' href='main.css'</head>
  </head>
  <body class="full">
    <% include src/views/contents.ejs %>
  </body>

</html>
